*{
    margin: 0;
    padding: 0;
}
.container{
    text-align: center;
    margin-top: 20px;
}
table{
    margin: auto;
}
input{
    font-size: 20px;
    height: 37px;
    width: 271px;
    border-radius: 9px;
    color: ivory;
    background: radial-gradient(black, transparent);
}

button{
    font-size: 32px;
    width: 67px;
    height: 62px;
    background-color: #b8b8ce;
    border-radius: 36px;
    background: goldenrod;
    border-color: mediumvioletred;
}
.calculator{
    display: inline-block;
    padding: 22px;
    background-color: black;
}